.increase-title{
    font-size: 50px;
}
.increase-body{
    font-size: 25px;
    font-weight: 600;
    padding-top:45px;
    line-height: 50px;
}
.container{
    margin-top:200px;
    padding-bottom: 200px;
}
.col{
    padding-bottom: 50px;
}
.success{
    color: rgb(51, 51, 51);
}