.logo{
    position: absolute;
    margin-top: 20px;
}

.logoimg{
    height: 50px;
}
.logoName{
    font-size: 50px;
    text-decoration: none;
    margin-left: 50px;
    color: black;
    font-weight: 600;
}