.center{
    width: 500px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.headed{
    position: absolute;
    margin-top:300px;
    margin-left: 400px;
}
